/* 診断 */
.next-button {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transform: rotate(90deg);

    animation: flash 2s linear infinite;
}
.next-button i {
    width: 25px;
    height: 4px;
    background-color: #000;
    position: absolute;
    border-radius: 5px;
}
.next-button i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.next-button i:nth-child(2) {
    transform: translateX(15px) translateY(10px) rotate(45deg);
}
.next-button:hover {
    cursor: pointer;
}


.input-line {
    position: absolute;
    /* background: cornflowerblue; */
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.input-line-inner {
    width: 86%;
    height: auto;
    border-top: 3px solid #CCC;
    border-radius: 5px;
}

.input-container {
    width: 65%;
    height: 30px;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    z-index: 2;
    /* background: crimson; */

    align-items: align-self;
    align-items: center;
}


input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .crs-test::after {
    opacity: 1;
    /* transform: scale(1); */
}
input[type="radio"]:checked + .crs-test::before {
    animation: pulseMotion 1.4s linear infinite;
}
@keyframes pulseMotion {
    0% {
      transform: translate(-50%, -50%) scale(1, 1);
      background-color: rgba(107, 107, 107, 0.4)
    }
    100% {
      transform: translate(-50%, -50%) scale(6.5, 6.5);
      background-color: rgba(196, 196, 196, 0)
    }
}

.crs-test {
    position: relative; /* ボックスの位置を指定する */
    padding: 0px;
    width: 30px;
    height: 30px;
    margin: 5px;
    /* background-color: aqua; */

    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
}
.crs-test::before {
    content: ''; /* ボックスのコンテンツ */
    display: block; /* ブロックレベル要素化する */
    position: absolute;
    width: 12px; /* ボックスの横幅を指定する */
    height: 12px; /* ボックスの高さを指定する */
    border: 1px solid #ccc; /* ボックスの境界線を実線で指定する */
    border-radius: 50%; /* ボックスの角丸を指定する */
    background-color: #ccc;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.crs-test::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #999;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.crs-test:hover {
    cursor: pointer;
}

.input-caption {
    padding-top: 9px;
}

.q2 {
    display: none;
}
.q2.show {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* z-index: 1000; */
}
.q2-mask {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* animation: huwa 2s linear infinite; */
    z-index: 200;
    background: #fff;
}


.q3 {
    display: none;
    transition: all 300ms 0s ease;
}
.q3.show {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.q4 {
    display: none;
    transition: all 300ms 0s ease;
}
.q4.show {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.q5 {
    display: none;
    transition: all 300ms 0s ease;
}
.q5.show {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.result {
    text-align: center;
    display:flex;
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    background: #fff;
    z-index: 400;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.anata {
    text-align: center;
    display:flex;
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-image: url(../images/anata.jpg);
    background-size: cover;
    z-index: 700;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
}

.purple-button {
    z-index: 501;    
    position: relative;
    width: 180px;
    height: 50px;
    background-color: #6666FF;
    border: solid 1.75px #6666FF;
    border-radius: 4px;
    transition: opacity .5s, visibility .5s;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin-bottom: 15vh;

    filter: drop-shadow(3px 3px 20px rgba(80, 16, 255, 0.89));
}

.purple-button .letus {
    font-size: 20px;
    font-family: 'Noto Sans JP', serif;
    color: #fff;
}

.purple-button:hover {
    cursor: pointer;
}