@media screen and (orientation:landscape) {

    video {
        min-width: 100vw;
        min-height: auto;

        width: 100%;
        height: auto;
    }

    .v-img img {
        height: 80vh;
    }

    .parallax-bg::before {
        background-size: 50%, cover;
    }

    #youtube {
        /*天地中央配置*/
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        /*縦横幅指定*/
          width: 177.77777778vh;
          height: 56.25vw;
          min-height: 130vh;
          min-width: 130%;
    }

    @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9) {
    video {
        min-width: 200vw;
        min-height: auto;

        width: 200%;
        height: auto;
        background-position: center;
        }
    }

    @media (min-aspect-ratio: 20/9) and (max-aspect-ratio: 40/1) {
        
        #youtube {
            width: 1600%;
            height: 1600%;
            min-width: 1600%;
            min-height: 1600vh;
        }

        /* #youtube-mask {
            background-color: plum;
        } */

    }

}

@media screen and (orientation:portrait) {

    #youtube {
        /*天地中央配置*/
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        /*縦横幅指定*/
          height: 177.77777778vw;
          width: 56.25vh;
          min-height: 400vh;
          min-width: 400%;
    }

    @media (min-aspect-ratio: 1/40) and (max-aspect-ratio: 9/20) {

        #youtube {
            width: 1500%;
            height: 1500%;
            min-width: 1500%;
            min-height: 1500vh;
        }

        /* #youtube-mask {
            background-color: yellow;
        } */

    }
}

@media screen and (min-width: 479px) {
    .h2 {
        width: 40%;
    }
}

/* @media screen and (orientation:landscape) and (max-width: 900px) {
    .nav-menu-ul {
        display: flexbox;
        list-style-type: none;
        margin: 0 0 0 1em;
        padding: 0;
    }
    .nav-menu-li {
        font-size: 21px;
        margin-bottom: 10px;
    }

} */

