@media screen and (orientation:landscape) {

    video {
        min-width: 100vw;
        min-height: auto;

        width: 100%;
        height: auto;
    }

    .v-img img {
        height: 80vh;
    }

    .parallax-bg::before {
        background-size: 50%, cover;
    }

    @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9) {
    video {
        min-width: 200vw;
        min-height: auto;

        width: 200%;
        height: auto;
        background-position: center;
        }
    }

    @media (min-aspect-ratio: 20/6) and (max-aspect-ratio: 40/1) {
        
        #youtube {
            width: 1000%;
            height: 1000%;
            min-width: 1000%;
            min-height: 1000vh;
        }

        /* #youtube-mask {
            background-color: plum;
        } */

    }



}

@media screen and (min-width: 479px) {
    .h2 {
        width: 40%;
    }
}

/* @media screen and (orientation:landscape) and (max-width: 900px) {
    .nav-menu-ul {
        display: flexbox;
        list-style-type: none;
        margin: 0 0 0 1em;
        padding: 0;
    }
    .nav-menu-li {
        font-size: 21px;
        margin-bottom: 10px;
    }

} */

