

/* Your princess is in another castel
__▒▒▒▒▒
—-▒▒▒▒▒▒▒▒▒
—–▓▓▓░░▓░
—▓░▓░░░▓░░░
—▓░▓▓░░░▓░░░
—▓▓░░░░▓▓▓▓
——░░░░░░░░
—-▓▓▒▓▓▓▒▓▓
–▓▓▓▒▓▓▓▒▓▓▓
▓▓▓▓▒▒▒▒▒▓▓▓▓
░░▓▒░▒▒▒░▒▓░░
░░░▒▒▒▒▒▒▒░░░
░░▒▒▒▒▒▒▒▒▒░░
—-▒▒▒ ——▒▒▒
–▓▓▓———-▓▓▓
▓▓▓▓———-▓▓▓▓
*/



@media screen and (orientation:landscape) {

    video {
        min-width: 100vw;
        min-height: auto;

        width: 100%;
        height: auto;
    }

    .parallax-bg::before {
        background-size: 50%, cover;
    }

    @media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9) {
    video {
        min-width: 200vw;
        min-height: auto;

        width: 200%;
        height: auto;
        background-position: center;
        }
    }

}

@media screen and (orientation:portrait) {
}

@media screen and (min-width: 479px) {
    .h2 {
        width: 40%;
    }
}

