div#top {
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-ontent: left;
    align-items: center; */
    overflow: hidden;
    z-index: 100;
}

video {
    min-height: 100vh;
    width: auto;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hamburger-button {
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: solid 1.75px #000;
    margin: 10px;
    border-radius: 4px;
    z-index: 500;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}
.hamburger-button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.hamburger-button i {
    display: block;
    width: 40%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: transform .5s, opacity .5s;
    border-radius: 5px;
}
.hamburger-button i:nth-child(1) {
    top: 14.5px;
}
.hamburger-button i:nth-child(2) {
    top: 22.5px;
}
.hamburger-button i:nth-child(3) {
    top: 30.5px;
}
.hamburger-button.show {
    opacity: 0;
    z-index: -1;
}
.hamburger-button.show i:nth-child(1) {
    opacity: 0;
}
.hamburger-button.show i:nth-child(2) {
    opacity: 0;
}
.hamburger-button.show i:nth-child(3) {
    opacity: 0;
}

.select-the-plan-button {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    z-index: 501;
    
    /* display: block; */
    position: fixed;
    width: 170px;
    height: 50px;
    background-color: #fff;
    border: solid 1.75px #000;
    margin: 10px;
    border-radius: 4px;
    transition: opacity .5s, visibility .5s;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.select-the-plan-button:hover {
    opacity: 0.9;
    cursor: pointer;
}
.select-the-plan-button.show {
    /* みえてないとき */
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}
/* .select-the-plan-button.hide {
    display: none;
} */

.nav {
    position: fixed;
    width: 75%;
    height: 90%;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    z-index: 500;
    /* pointer-events: all; */
    /* overflow: scroll; */
}
.nav.show {
    position: fixed;
    opacity: 0.95;
    visibility: visible;
    background-color: #fff;
}
.nav-menu-div {
    position: relative;
    visibility: visible;
    width: auto;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    /* overflow-scrolling: auto; */
    overflow-y: scroll;
    /* background-color: blue; */
}
.nav-menu-li {
    /* width: fit-content; */
    font-size: 28px;
    padding: 5px;
    margin-bottom: 25px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-feature-settings: "palt" 1;
}
.nav-menu-li a {
    color: #000;
    text-decoration: none;
}
.nav-menu-li a:hover {
    color: #666;
}
.close-button-container {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    margin: 10px;
    overflow: hidden;
}
.close-button-container:hover {
    opacity: 0.9;
    cursor: pointer;
}

.close-button {
    display: block;
    position: absolute;
    top: calc(25px / 2);
    left: 4.5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.close-button i {
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #000;
    position: absolute;
    border-radius: 5px;
}
.close-button i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
.close-button i:nth-child(2) {
    transform: translateX(15px) translateY(10px) rotate(45deg);
}

div.image-container {
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 70%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 700;
}

div.plain-container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 120px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: left; */
    justify-content: unset;
    align-items: center;
    z-index: 100;
}

div.plain-wrapper {
    position: relative;
    background-color: #fff;
    width: 88%;
    /* margin: 0px 21px; */
    display: flex;
    flex-direction: column;
    align-items: align-self;
    justify-content: unset;
    padding: 0;
    margin: 0;
}

div.plain-wrapper-100 {
    position: relative;
    background-color: #fff;
    width: 100%;
    /* margin: 0px 21px; */
    display: flex;
    flex-direction: column;
    align-items: align-self;
    justify-content: unset;
}

.voice-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
}
.margin-container {
    height: 50px;
    background-color: #fff;
}

  /*  */
.voice-L {
    width: 50%;
    height: auto;
    background-color: #fff;
    margin-left: 6%;
    margin-right: 0;
}
.v-img-R {
    box-sizing: border-box;
    width: 56%;
    height: 40vh;
    padding: 0 21px;
    background-color: #fff;
    overflow: hidden;
}
.v-img-R img {
    object-fit: cover;
    height: 100%;
}

/*  */
.v-img-L {
    box-sizing: border-box;
    width: 56%;
    height: 40vh;
    padding: 0 21px;
    background-color: #fff;
    overflow: hidden;
}
.v-img-L img {
    object-fit: cover;
    height: 100%;
}
.voice-R {
    width: 50%;
    height: auto;
    background-color: #fff;
    margin-right: 6%;
    margin-left: 0;
}


.parallax-bg {
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.parallax-bg::before {
    content:"";
    text-align: center;
    display:block;
    position:fixed;
    top: 0;
    left:0;
    z-index: -1;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-image: url(../images/start-button.png), url(../images/sky1.png);
    background-size: 100%, cover;
}

.parallax-bg-2 {
    opacity: 0;
    width: 100%;
    height: 10vh;
}
.parallax-bg-2::before {
    content:"ボタンを押すと診断がスタートします。";
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    font-feature-settings: "palt" 1;

    text-align: center;
    display:block;
    position:fixed;
    bottom: 15%;
    left:0;
    width:100%;

    animation: flash 2s linear infinite;
}
@keyframes flash {
    0%,100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

div.flow-parent-container {
    display: block;
    position: relative;
    margin-bottom: 24px;
    background-color: #fff;
}
div.flow-parent-container:hover {
    opacity: 0.9;
    cursor: pointer;
}
.close-button-flow {
    position: absolute;
    width: 40px;
    height: 26px;
}
.flow-parent-container::after {
    content: "";
    position: absolute;
    transition: all 0.2s ease-in-out;
    display: block;
    left: 8px;
    top: 1px;
    /* bottom: 8px; */
    width: 18px;
    height: 18px;
    border-top: solid 4px #000;
    border-right: solid 4px #000;
    border-radius: 2px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
.flow-parent-container.open::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 6px;
    /* bottom: -3px; */
}
.h-f {
    margin-left: 40px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: 24px;
    font-feature-settings: "palt" 1;
}
.flow-child-container {
    display: none;
}

.arrow-container {
    height: 57px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #CCC;
}

.border-container {
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border {
    width: 100%;
    height: auto;
    border-top: 1.75px solid #CCC;
}

.p-footer {
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    font-feature-settings: "palt" 1;
    text-align: center;

    margin: 10px 0;
    align-self: center;
}


.p1 img {
    position: relative;
    top: 18px;
    height: 56px;
}

.p1 span {
    font-size: 30px;
    font-style: italic;
    background:linear-gradient(transparent 70%, #6666ff 0%);
    padding: 0px 10px;
}

.p1 .span-a {
    font-size: 22px;
    background:none;
    font-style: normal;
}

.p1 .span-b {
    font-size: 18px;
    background:none;
    font-style: italic;
    padding: 0px 5px;
}