#youtube-area{
    z-index: -1;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;

    animation-name:PageAnimeAppear;
	animation-duration:.10s;
	animation-fill-mode:forwards;
}

#youtube {
/*天地中央配置*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*縦横幅指定*/
  width: calc(177.77777778vh * 1.5); /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  /* height: 56.25vw; 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 200%;
  min-width: 200%;
}

/*youtubeがクリックされないためのマスク*/
#youtube-mask{
    position: absolute;
    z-index: 101;
    top:0;
    width:100%;
    height: 100vh;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}
