@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header{
  width: 100%;
  height: 100vh;

  /* position: relative;ローディング画像などを表示す際の基点とするため指定 */
    /* height: 100vh;高さを全画面にあわせる */
    /* text-align: center; */
    /* color: #fff; */
    /*ローディング画面時＆動画が表示されないときに表示する背景画像のレスポンシブ化*/
    /* background: url("../img/movie.jpg") no-repeat; */
    /* background-size: cover; */
    background-color: blue;
}

/* ローディングアイコン設定 */

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-weight: bold;
}

/*jQueryで付与されたdisappearクラスがついたらロゴエリアを非表示*/

#loading.disappear{
     display: none;   
}


/* youtube設定 */

#youtube-area{
    position: relative;
    z-index: 1;/*最背面に設定*/
    /* top: 0;
    right:0;
    left:0;
    bottom:0; */
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;   
  
  background-color: aqua;
}

/*jQueryで付与されたappearクラスがついたらYoutubeエリアをふわっと表示*/
#youtube-area.appear {
  animation-name:PageAnimeAppear;
  animation-duration:5.0s;
  animation-fill-mode:forwards;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}



/*youtubeがクリックされないためのマスク*/
#youtube-mask{
    position: absolute;
    z-index: 2;/*下から2番目に表示*/
    top:0;
    width:100%;
    height: 100%;
}

/*下のコンテンツ*/
#container{
    position: relative;/*relativeを指定してfixed指定をした#youtube-areaの上に表示*/
    z-index: 3;/*一番上に表示*/
    /*見た目の調整*/
  background:#333;
  color: #fff;
  padding:300px 0;
  text-align: center;
}

